html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 901px;
  margin: 0 auto;
}
/* 
* {
  outline: 1px solid red;
} */

body {
  font-family: "Playfair Display", "Arial", sans-serif;
}

.navigation {
  text-align: center;
}

.navigation-list {
  padding: 0;
  margin: 0;
  font-size: 0px;
  list-style: none;
}

.navigation-item {
  margin-top: 60px;
  margin-bottom: 100px;
  display: inline-block;
}
.navigation-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: #626262;
  font-weight: 400;
  font-family: "Playfair Display";
}

.navigation-item a:hover,
.navigation-item a:focus {
  color: blue;
}

.navigation-item:not(:last-child) {
  margin-right: 120px;
}

.feature-list {
  padding: 0;
  font-size: 0px;
  list-style: none;
}

.feature-item {
  display: inline-block;
  text-align: left;
  width: 421px;
}
.feature-item:nth-child(2n-1) {
  margin-bottom: 130px;
}
.feature-item:nth-child(5) {
  margin-bottom: 50px;
}
.feature-item:not(:nth-child(2n)) {
  margin-right: 59px;
}
.feature-item-name {
  margin-top: 30px;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: #b4ad9e;
  font-weight: 300;
  font-family: "Ubuntu";
}

h2 + p {
  font-size: 14px;
  line-height: 24px;
  color: #626262;
  font-weight: 400;
  font-family: "Playfair Display";
}

h2 {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 30px;
  color: #626262;
  font-weight: 400;
  font-family: "Playfair Display";
}

main {
  text-align: center;
}
footer {
  text-align: center;
}

button {
  margin-bottom: 70px;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  width: 160px;
  height: 60px;
  border: 1px solid black;
  font-family: "Playfair Display";
}
